{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Smart Job Tracker</title>
    <link rel="stylesheet" href="{% static 'tracker/css/style.css' %}">
</head>
<body>

<div class="container">

    <div class="header">

        <h1>Smart Job Application Tracker</h1>

        <div class="user-section">
            <span>
                Welcome, {{ request.user.username }}
            </span>

            <button onclick="window.location.href='/logout/'">
                Logout
            </button>
        </div>

    </div>

    <hr>

    <div class="stats-container">

        <div class="stat-card total">
            <div class="stat-number">
                {{ status_counts.TOTAL|default:0 }}
            </div>
            <div class="stat-label">Total Applications</div>
        </div>

        <div class="stat-card">
            <div class="stat-number">
                {{ status_counts.APPLIED|default:0 }}
            </div>
            <div class="stat-label">Applied</div>
        </div>

        <div class="stat-card">
            <div class="stat-number">
                {{ status_counts.INTERVIEW|default:0 }}
            </div>
            <div class="stat-label">Interview</div>
        </div>

        <div class="stat-card">
            <div class="stat-number">
                {{ status_counts.REJECTED|default:0 }}
            </div>
            <div class="stat-label">Rejected</div>
        </div>

        <div class="stat-card">
            <div class="stat-number">
                {{ status_counts.OFFER|default:0 }}
            </div>
            <div class="stat-label">Offers</div>
        </div>

    </div>

    <div class="top-actions">
        <button onclick="window.location.href='/add/'">
            Add New Job Application
        </button>
    </div>
    <div class="filter-bar">

    <form method="GET">

        <input type="text"
               name="search"
               placeholder="Search company..."
               value="{{ search_query }}">

        <select name="status">
            <option value="">All Status</option>
            <option value="APPLIED" {% if status_filter == 'APPLIED' %}selected{% endif %}>Applied</option>
            <option value="INTERVIEW" {% if status_filter == 'INTERVIEW' %}selected{% endif %}>Interview</option>
            <option value="REJECTED" {% if status_filter == 'REJECTED' %}selected{% endif %}>Rejected</option>
            <option value="OFFER" {% if status_filter == 'OFFER' %}selected{% endif %}>Offer</option>
        </select>

        <button type="submit">Filter</button>

        <button type="button" onclick="clearFilters()">
            Reset
        </button>

    </form>

</div>


    <h3>Your Applications</h3>

    {% for app in applications %}

        <div class="application-card">

            <div class="app-header">
                <div>
                    <strong>{{ app.company_name }}</strong>
                    <div class="role-text">
                        Role: {{ app.job_role }}
                    </div>
                </div>

                <span class="status-badge 
                    {% if app.status == 'APPLIED' %}applied{% endif %}
                    {% if app.status == 'INTERVIEW' %}interview{% endif %}
                    {% if app.status == 'REJECTED' %}rejected{% endif %}
                    {% if app.status == 'OFFER' %}offer{% endif %}">
                    {{ app.status }}
                </span>
            </div>

            <div class="app-body">

                {% if app.notes %}
                    <div class="notes-box">
                        {{ app.notes }}
                    </div>
                {% endif %}

                <div class="card-footer">

                    <span class="date-text">
                        Applied On: {{ app.applied_date }}
                    </span>

                    {% if app.resume %}
                        <button class="resume-btn"
                                onclick="window.open('{{ app.resume.url }}', '_blank')">
                            View Resume
                        </button>
                    {% endif %}

                </div>
            </div>

            <div class="card-actions">
                <button onclick="window.location.href='/edit/{{ app.id }}/'">
                    Edit
                </button>

                <button onclick="confirmDelete({{ app.id }})">
                    Delete
                </button>
            </div>

        </div>

    {% empty %}

        <div class="application-card empty-card">
            <p>No applications added yet.</p>

            <button onclick="window.location.href='/add/'">
                Add Your First Application
            </button>
        </div>

    {% endfor %}

</div>

<script>
function confirmDelete(id) {
    const confirmed = confirm("Are you sure you want to delete this application?");
    if (confirmed) {
        window.location.href = '/delete/' + id + '/';
    }
}
</script>
<script>
function clearFilters() {
    window.location.href = '/dashboard/';
}
</script>


</body>
</html>
